.idea
.vscode

bin/
build/
install/
*.bin
repo
CMakeFiles
CMakeCache.txt
DartConfiguration.tcl

.cache/
*.db
!conanfile.txt
!requirements.txt
*.log
*.scdb
.DS_Store

__pycache__

ConanPresets.json
.venv
